node_red_flows.json
[{"id":"ae382914.94c218","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"7458b012.3e783","type":"watson-conversation-v1","z":"ae382914.94c218","name":"Chatbot","workspaceid":"b6113320-3264-4835-b812-960f6ce67c0f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4781350e-012f-407c-9c13-a86a4ea5e178","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["90ba8345.59105","af85dd0e.38f95"]],"l":false},{"id":"d7a16bfb.ca8568","type":"function","z":"ae382914.94c218","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["7458b012.3e783","c4908762.c5c438"]],"l":false},{"id":"e56f148d.47ce38","type":"ui_form","z":"ae382914.94c218","name":"","label":"","group":"22a93b98.c31e74","order":1,"width":0,"height":0,"options":[{"label":"Type your querry","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["d7a16bfb.ca8568"]],"l":false},{"id":"90ba8345.59105","type":"function","z":"ae382914.94c218","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["ede17173.a8dd7"]],"l":false},{"id":"c4908762.c5c438","type":"ui_text","z":"ae382914.94c218","group":"22a93b98.c31e74","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":235,"y":380,"wires":[],"l":false},{"id":"ede17173.a8dd7","type":"ui_text","z":"ae382914.94c218","group":"22a93b98.c31e74","order":5,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"af85dd0e.38f95","type":"debug","z":"ae382914.94c218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"22a93b98.c31e74","type":"ui_group","z":"","name":"CHATBOT","tab":"5e28dda6.14e9e4","order":1,"disp":true,"width":15,"collapse":false},{"id":"5e28dda6.14e9e4","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]